<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Eye disease classification</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
  <div class="background">
    <div class="container">
      <main>
        <h1>Eye disease classification</h1>
        <p>Use our website to identify the early stage of your eye disease</p>
        <a href="{{ url_for('second_page') }}">
          <button>Get Started</button>
        </a>
      </main>
    </div>
  </div>
</body>
</html>
